<a href="https://colab.research.google.com/github/obarreto/Python/blob/main/Python_introtuction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print ('Hello World')
print('Seja bem-vindo(a) ao curso de Python do Coding Tank !')

input('Qual é alinguagem de programção que você está utilizando? ')

Hello World
Seja bem-vindo(a) ao curso de Python do Coding Tank !
Qual é alinguagem de programção que você está utilizando? Python

'Python'

In [2]:
# > VARIÁBLES

#1. Variáveis

idade = 26 # Criando um variável

print(idade)

nome = 'Ozeias Barreto'
print(nome)
"""
Tipos de variáveis

1. int:n[numeros inteiros, ou seja, números sem parte decimal: 0, 5, -1, 1000]
2. float: números reais, ou seja, números com parte de cimal: 1.0, -2.7, 3.14
3. str: cadeias de caracteres, ou seja, dados textuais
4. bool: valores lógicos(booleanos): True ou False
"""

'\n'

In [4]:
idade = 35
print(idade)
altura = 1.75
print(altura)
nome = "Ozeias Barreto"
print (nome)
estudando = True
print(estudando)

print( type(idade))
print( type(altura))
print( type(nome))
print( type(estudando))

#Obtendo dados do usuário e salvando em variáveis

linguagem = input('Qual linguagem você está estudando ? ')
print('A linguagem que você está estudando é ' + linguagem + '!')

35
1.75
Ozeias Barreto
True
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
Qual linguagem você está estudando ? Python
A linguagem que você está estudando é Python!

In [5]:
# > Operações Matemáticas (Aritméticas)

"""
- Soma: +
- Subtração: -
- Multiplicação: *
- Divisão: /
- Potência: **
- Módulo: %
"""

numero1 = 10
numero2 = 5

print(numero1 + numero2)
print(numero1 - numero2)
print(numero1 * numero2)
print(numero1 / numero2)
print(numero1 // numero2) #pega apenas a parte inteira da divisão
print(numero1 ** numero2)
print(numero1 % numero2)

15
5
50
2.0
100000
0

In [6]:
# OPERADORES BOOLEANOS

idade1 = 10
idade2 = 18
altura1 = 1.5
altura2 = 1.69
altura3 = altura2

print(idade1 > idade2)
print(idade1 < idade2)
print(idade1 == idade2)
# Para texto sempre utilizar == ou !=
print('Python' == 'Java')
print('banana' != 'abacaxi')

print(altura1 >= altura2)
print(altura1 > altura3)

False
True
False
False
True
False
False

In [ ]:
# OPERADORES BOOLEANOS

idade1 = 10
idade2 = 18
altura1 = 1.5
altura2 = 1.69
altura3 = altura2

print(idade1 > idade2)
print(idade1 < idade2)
print(idade1 == idade2)
# Para texto sempre utilizar == ou !=
print('Python' == 'Java')
print('banana' != 'abacaxi')

print(altura1 >= altura2)
print(altura1 > altura3)

False
True
False
False
True
False
False

In [ ]:
# OPERADORES BOOLEANOS

idade1 = 10
idade2 = 18
altura1 = 1.5
altura2 = 1.69
altura3 = altura2

print(idade1 > idade2)
print(idade1 < idade2)
print(idade1 == idade2)
# Para texto sempre utilizar == ou !=
print('Python' == 'Java')
print('banana' != 'abacaxi')

print(altura1 >= altura2)
print(altura1 > altura3)

False
True
False
False
True
False
False

In [ ]:
# OPERADORES BOOLEANOS

idade1 = 10
idade2 = 18
altura1 = 1.5
altura2 = 1.69
altura3 = altura2

print(idade1 > idade2)
print(idade1 < idade2)
print(idade1 == idade2)
# Para texto sempre utilizar == ou !=
print('Python' == 'Java')
print('banana' != 'abacaxi')

print(altura1 >= altura2)
print(altura1 > altura3)

False
True
False
False
True
False
False